body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden; /* 모바일에서 스크롤 제어 */
}

.container {
    position: relative;
    text-align: center;
}

#sheep-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: none; /* 초기에 숨김 */
}

#random-text {
    font-size: 24px;
    font-weight: bold;
}
